[user]
    email = joaofergear003@gmail.com
    name = João Fernandes
[core]
    editor = vim
    autocrlf = input
[init]
    defaultBranch = main
[alias]
    # Log current branch
    l  = log --graph
    lo = log --graph --oneline

    # Status
    s   = status
    ss  = status --short
    ssu = status --short --untracked-files

    # Diff
    d  = diff
    ds = diff --staged

    # Index
    a  = add
    aa = add --all
    ap = add --patch
    ae = add --edit
    u  = restore --staged

    # Commit
    c   = commit
    cm  = commit -m
    can = commit --amend --no-edit
